* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.container {
  max-width: 1170px;
  margin: auto;
}

@media (max-width: 1199px) {
  .container {
    max-width: 960px;
  }
}

@media (max-width: 991px) {
  .container {
    max-width: 750px;
  }
}

@media (max-width: 768px) {
  .container {
    max-width: 100%;
    padding: 0 20px;
  }
}

@font-face {
  font-family: "Proxima Nova Semibold";
  src: url("../fonts/ProximaNova-Semibold.eot");
  src: url("../fonts/?#iefix") format("embedded-opentype"), url("../fonts/ProximaNova-Semibold.woff") format("woff"), url("../fonts/ProximaNova-Semibold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Proxima Nova Light";
  src: url("../fonts/ProximaNova-Light.eot");
  src: url("../fonts/ProximaNova-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/ProximaNova-Light.woff") format("woff"), url("../fonts/ProximaNova-Light.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

/* Slider */
.slick-slider {
  position: relative;
  display: block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}

.slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0;
}

.slick-list:focus {
  outline: none;
}

.slick-list.dragging {
  cursor: pointer;
  cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.slick-track:before, .slick-track:after {
  content: "";
  display: table;
}

.slick-track:after {
  clear: both;
}

.slick-loading .slick-track {
  visibility: hidden;
}

.slick-slide {
  float: left;
  height: 100%;
  min-height: 1px;
  display: none;
}

[dir="rtl"] .slick-slide {
  float: right;
}

.slick-slide img {
  display: block;
}

.slick-slide.slick-loading img {
  display: none;
}

.slick-slide.dragging img {
  pointer-events: none;
}

.slick-initialized .slick-slide {
  display: block;
}

.slick-loading .slick-slide {
  visibility: hidden;
}

.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent;
}

.slick-arrow.slick-hidden {
  display: none;
}

body {
  color: #262626;
  font-family: "Proxima Nova Light", sans-serif;
}

img {
  max-width: 100%;
}

.section {
  padding: 100px 0;
}

.section-title {
  font-size: 30px;
  text-align: center;
  text-transform: uppercase;
  font-family: "Proxima Nova Semibold", sans-serif;
}

.section__title {
  margin: 0 0 100px;
}

.button-o {
  border: 2px solid #507fe1;
  text-transform: uppercase;
  padding: 17px 22px;
  font-size: 12px;
  color: #507fe1;
  background-color: #fff;
  text-decoration: none;
  font-family: "Proxima Nova Semibold", sans-serif;
}

.button-o:hover {
  color: #ffffff;
  background-color: #507fe1;
}

.button {
  text-transform: uppercase;
  text-decoration: none;
  border: none;
  padding: 25px 45px;
  background-color: #507fe1;
  color: #fff;
  cursor: pointer;
  font-family: "Proxima Nova Semibold", sans-serif;
}

.button-fitting {
  color: #507fe1;
  background-color: #fff;
}

.button-add {
  background-color: #7c9fe8;
  padding: 10px;
  color: #ffffff;
}

.button-like {
  background-color: #507fe1;
  border: none;
  height: 30px;
  width: 30px;
}

.bg-secondary {
  background: #f1f1f1;
}

.input {
  height: 80px;
  padding-left: 30px;
  border: 1px solid #dddddd;
}

.checkbox {
  display: none;
}

.checkbox:checked + label:before {
  background-color: #507fe1;
}

.checkbox-label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 40px;
}

.checkbox-label:hover {
  cursor: pointer;
}

.checkbox-label:before {
  content: '';
  width: 30px;
  height: 30px;
  border: 1px solid #ddd;
  margin-right: 20px;
}

@media (max-width: 768px) {
  .section {
    padding: 50px 0;
  }
}

@media (max-width: 576px) {
  .button-o {
    font-size: 10px;
  }
  .section-title {
    font-size: 24px;
  }
}

.navbar {
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  background-color: #fff;
}

.navbar-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbar__mobile, .navbar__landline {
  text-align: right;
}

.navbar__phone {
  display: block;
  margin-bottom: 5px;
  font-size: 18px;
  text-decoration: none;
  color: #262626;
  font-family: "Proxima Nova Semibold", sans-serif;
}

.navbar__small-text {
  display: block;
  font-size: 14px;
  color: #7b7b79;
  text-decoration: none;
}

.menu {
  position: fixed;
  z-index: 3;
  top: 80px;
  left: 0;
  width: 100%;
  padding: 16px 0;
  background-color: #507fe1;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  -webkit-transform: translateY(-200%);
          transform: translateY(-200%);
  opacity: 0;
}

.menu_active {
  -webkit-transform: translateY(0);
          transform: translateY(0);
  opacity: 1;
}

.menu__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu__link {
  text-decoration: none;
  text-transform: uppercase;
  font-size: 17px;
  color: #fff;
}

.menu-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: transparent;
  border: none;
  border-right: 1px solid #eee7f8;
  border-left: 1px solid #eee7f8;
  height: 80px;
  width: 70px;
}

.menu-button__line {
  display: block;
  width: 20px;
  height: 3px;
  background-color: #507fe1;
  margin: 3px auto;
}

.logo__text {
  display: block;
  font-size: 18px;
  text-transform: uppercase;
  margin-bottom: 5px;
  font-family: "Proxima Nova Semibold", sans-serif;
}

.logo__description {
  display: block;
  font-size: 14px;
  color: #7b7b79;
}

@media (max-width: 991px) {
  .navbar__mobile, .navbar__landline {
    display: none;
  }
  .menu__link {
    text-align: center;
    font-size: 12px;
    margin-right: 10px;
  }
  .menu__link:last-child {
    margin-right: 0;
  }
}

@media (max-width: 576px) {
  .logo {
    display: none;
  }
  .menu__nav {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .menu__link {
    margin: 0 0 20px 0;
  }
  .menu__link:last-child {
    margin: 0;
  }
}

.hero {
  background: #f1f1f1 url("../img/hero/hero-bg.jpg") no-repeat center top;
  background-size: cover;
  padding-top: 120px;
  padding-bottom: 270px;
  margin-top: 80px;
}

.hero__title {
  font-size: 30px;
  margin-bottom: 40px;
}

.hero__subtitle {
  display: block;
  font-size: 30px;
  margin-bottom: 66px;
  font-family: "Proxima Nova Semibold", sans-serif;
}

@media (max-width: 991px) {
  .hero {
    background-size: 100%;
    background-position: top right;
  }
}

@media (max-width: 768px) {
  .hero {
    padding-bottom: 150px;
  }
}

.offer {
  padding: 128px 0;
}

.offer__block {
  background: #fff url("../img/offer/form-bg.png") no-repeat center right;
  background-size: contain;
  -webkit-box-shadow: 0 15px 25px rgba(0, 0, 0, 0.1);
          box-shadow: 0 15px 25px rgba(0, 0, 0, 0.1);
  padding: 80px;
  margin-top: -200px;
}

.offer-block__reviews {
  background: #fff url("../img/offer/reviews-form-bg.png") no-repeat center right;
}

.offer__title {
  font-size: 25px;
  text-transform: uppercase;
  margin-bottom: 20px;
  font-family: "Proxima Nova Semibold", sans-serif;
}

.offer__subtitle {
  display: block;
  font-size: 21px;
  margin-bottom: 48px;
}

.form__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 900px;
  margin-bottom: 25px;
}

.form__row:last-child {
  margin-bottom: 0;
}

.form__label {
  display: block;
  font-size: 17px;
  margin-bottom: 15px;
}

.form__group {
  -ms-flex-preferred-size: 33.33%;
      flex-basis: 33.33%;
}

.form__input {
  width: 100%;
}

.form__button {
  height: 80px;
  width: 300px;
  text-align: center;
  padding: 5px;
}

.form-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.form__policy {
  width: 350px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 30px;
}

@media (max-width: 1199px) {
  .offer__block {
    background-position: center right -120px;
  }
}

@media (max-width: 991px) {
  .form-group {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .form__policy {
    margin: 30px 0 0;
    width: 300px;
  }
}

@media (max-width: 768px) {
  .offer__block {
    background: none;
    background-color: #fff;
    padding: 40px;
  }
  .form__row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .form__row-checkbox {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .form__row-checkbox .form__checkbox {
    margin: 5px;
  }
  .form__group {
    width: 100%;
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    margin-bottom: 20px;
  }
  .form__group:last-child {
    margin-bottom: 0;
  }
  .form__button {
    width: 100%;
  }
  .form__policy {
    width: 100%;
  }
}

.features {
  padding-bottom: 0;
}

.features-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.features-block__item {
  -ms-flex-preferred-size: 33%;
      flex-basis: 33%;
  text-align: center;
  margin-bottom: 100px;
}

@media (max-width: 991px) {
  .features-block__item {
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
  }
}

@media (max-width: 768px) {
  .features-block__item {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    margin-bottom: 50px;
  }
  .section__title {
    margin: 0 0 60px;
  }
}

.catalog {
  background-color: #f5f6f8;
}

.catalog-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.catalog__card {
  margin-bottom: 30px;
}

.catalog-card {
  max-width: 570px;
  position: relative;
  -webkit-box-shadow: 7px 5px 21px rgba(0, 0, 0, 0.1);
          box-shadow: 7px 5px 21px rgba(0, 0, 0, 0.1);
}

.catalog-card__buttons {
  position: absolute;
  bottom: 0;
  right: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.catalog-card__button {
  font-size: 11px;
  border: none;
  text-transform: uppercase;
  padding: 10px;
  height: 30px;
}

.catalog-card__tag {
  position: absolute;
  top: 10px;
  left: 10px;
  padding: 10px;
  font-size: 12px;
  text-transform: uppercase;
  color: #ffffff;
  background-color: rgba(80, 127, 225, 0.6);
}

.catalog-card__img {
  display: block;
}

.catalog-link {
  text-align: center;
  margin-top: 60px;
}

.catalog__link-more {
  display: inline-block;
  margin-bottom: 24px;
}

.catalog__description {
  display: block;
}

@media (max-width: 1199px) {
  .catalog-block {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .catalog-block-card {
    max-width: 470px;
  }
}

.blog__heading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 70px;
}

.blog__title {
  font-size: 24px;
  font-family: "Proxima Nova Semibold", sans-serif;
}

.blog__link-more {
  color: #507fe1;
  font-size: 16px;
}

.blog-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.blog-card {
  -webkit-box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
          box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
}

.blog-card__text {
  text-align: center;
}

@media (max-width: 1199px) {
  .blog-card {
    -ms-flex-preferred-size: 48%;
        flex-basis: 48%;
    text-align: center;
    margin: 1%;
  }
  .blog__heading {
    margin-bottom: 50px;
  }
  .blog__title {
    margin: 0;
  }
}

@media (max-width: 768px) {
  .blog__title {
    font-size: 16px;
  }
  .blog__link-more {
    font-size: 12px;
  }
}

.price-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  background-color: #fff;
}

.price-block .price-card {
  position: relative;
}

.price-block .price-card__image {
  font-size: 0;
}

.price-block .price-card__pricetag {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.price-block .price-card__text {
  padding: 20px;
  font-size: 15px;
}

.price-block .price-card__title {
  margin: 0;
}

.price-block .price-card__cost {
  font-family: "Proxima Nova Semibold", sans-serif;
}

.price-block .price-card__button {
  text-align: center;
  cursor: pointer;
  position: absolute;
  z-index: -1;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 20px;
  padding-top: 0;
  background-color: #fff;
}

.price-block .price-card:hover .price-card__button {
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  z-index: 99;
}

@media (max-width: 1199px) {
  .price-block {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .price-block .price-card {
    -ms-flex-preferred-size: 40%;
        flex-basis: 40%;
    text-align: center;
    padding: 0 20px;
  }
  .price-block .price-card__text {
    width: 285px;
    margin: auto;
  }
}

@media (max-width: 768px) {
  .price-card {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
  }
}

.steps {
  background-color: #f6f7f9;
}

.steps .steps-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.steps .steps-block .step {
  width: 170px;
  text-align: center;
  position: relative;
}

.steps .steps-block .step__title {
  font-size: 18px;
  font-family: "Proxima Nova Semibold", sans-serif;
}

.steps .steps-block .step__text {
  font-size: 14px;
  margin: 0 auto;
  padding: 0 10px;
  font-family: "Proxima Nova Semibold", sans-serif;
}

.steps .steps-block .step:before {
  content: '';
  display: block;
  width: 100%;
  height: 2px;
  background: rgba(186, 185, 184, 0.8);
  position: absolute;
  top: 31%;
  left: 59%;
}

.steps .steps-block .step:last-child:before {
  display: none;
}

@media (max-width: 991px) {
  .steps .steps-block {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .steps .steps-block .step {
    width: 33%;
    padding-bottom: 20px;
  }
  .steps .steps-block .step:before {
    display: none;
  }
}

@media (max-width: 576px) {
  .step {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
  }
  .step__text {
    width: 170px;
  }
}

.reviews {
  background-color: #f6f7f9;
}

.reviews .reviews-slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.reviews .reviews-slider__item {
  width: 370px;
  text-align: center;
}

.reviews .reviews-slider__text {
  position: relative;
  height: 134px;
  background-color: #fff;
  font-size: 15px;
  font-style: italic;
  padding: 20px;
  margin-bottom: 30px;
  border-radius: 14px;
}

.reviews .reviews-slider__text::after {
  position: absolute;
  top: 100%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  content: '';
  height: 10px;
  border: 14px solid transparent;
  border-top: 14px solid #fff;
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
}

.reviews .reviews-slider__image {
  display: block;
  width: 70px;
  margin: 0 auto;
}

@media (max-width: 991px) {
  .reviews-slider {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.factory {
  padding-top: 0;
}

.factory .section__title {
  margin: 0;
}

.factory-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 100px 100px 0;
}

.factory-block__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-left: 70px;
}

.factory-block__text .factory__text {
  margin: 0 0;
  font-size: 20px;
  line-height: 30px;
  font-family: "Proxima Nova Semibold", sans-serif;
}

.factory-block__image {
  display: block;
  max-width: 370px;
}

@media (max-width: 991px) {
  .factory-block {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .factory-block__text {
    padding: 0;
  }
  .factory-block .factory__text {
    margin-top: 30px;
    width: 370px;
    text-align: center;
  }
}

.contacts-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-bottom: 40px;
}

.contacts-link__group {
  position: relative;
}

.contacts-link__group svg {
  width: 30px;
  height: 30px;
  position: absolute;
  top: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  z-index: -1;
}

.contacts-link__item {
  display: block;
  padding-top: 50px;
  height: 70px;
  cursor: pointer;
  text-decoration: none;
  color: #000;
  text-align: center;
}

.contacts-link__group:hover > svg {
  fill: #507fe1;
  color: #507fe1;
}

.contacts-group {
  padding: 80px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contacts-group__title, .contacts-group .question__link {
  margin: 0 15px;
  font-family: "Proxima Nova Semibold", sans-serif;
}

.contacts-group__title {
  font-size: 30px;
}

.contacts-group .question__link {
  font-size: 24px;
  color: #507fe1;
}

@media (max-width: 768px) {
  .contacts-link {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.footer {
  background-color: #000;
  padding: 40px 0;
  color: #fff;
}

.footer-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer a {
  color: #fff;
  text-decoration: none;
}

.footer__title {
  margin: 0 0 8px;
  text-transform: uppercase;
  font-size: 18px;
  font-family: "Proxima Nova Semibold", sans-serif;
}

.footer__subtitle {
  display: block;
  margin-bottom: 48px;
}

.footer__copy {
  color: #727272;
}

.footer__pay-logo {
  margin: 0 10px;
}

.footer__contacts {
  text-align: right;
}

.footer__phone {
  display: block;
  font-size: 20px;
  margin-bottom: 20px;
}

.footer__mail {
  display: block;
  margin-bottom: 20px;
}

.footer-social__link {
  margin-left: 10px;
}

@media (max-width: 768px) {
  .footer-block {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .footer__description, .footer__pay-info, .footer__contacts {
    text-align: center;
    margin-bottom: 50px;
  }
  .footer-social__link {
    margin: 0 10px;
  }
}

.before-slider {
  z-index: 2;
}

.before-slider__wrap {
  max-width: 970px;
  margin: 0 auto;
  position: relative;
}

.before-slider__arrows {
  position: absolute;
  width: 100%;
  top: 40%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  z-index: 1;
}

.before-slider__dots {
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  list-style: none;
  padding: 0;
  margin-top: 30px;
}

.before-slider__dots li {
  width: 10px;
  height: 10px;
  background-color: #5b7fda;
  border-radius: 50%;
  margin: 5px;
}

.before-slider__dots button {
  display: none;
}

.arrow {
  background-color: transparent;
  border: none;
}

.arrow-left {
  -webkit-transform: translateX(-200%);
          transform: translateX(-200%);
}

.arrow-right {
  -webkit-transform: translateX(200%);
          transform: translateX(200%);
}
/*# sourceMappingURL=style.css.map */