.offer
    padding: 128px 0
    &__block
        background: #fff url('../img/offer/form-bg.png') no-repeat center right
        background-size: contain
        box-shadow: 0 15px 25px rgba(0, 0, 0, 0.1)
        padding: 80px
        margin-top: -200px
    &-block__reviews
        background: #fff url('../img/offer/reviews-form-bg.png') no-repeat center right
    &__title
        font-size: 25px
        text-transform: uppercase
        margin-bottom: 20px
        +bold
    &__subtitle
        display: block
        font-size: 21px
        margin-bottom: 48px
.form
    &__row
        display: flex
        align-items: center
        max-width: 900px
        margin-bottom: 25px
        &:last-child
            margin-bottom: 0
    &__label
        display: block
        font-size: 17px
        margin-bottom: 15px
    &__group
        flex-basis: 33.33%
    &__input
        width: 100%
    &__button
        height: 80px
        width: 300px
        text-align: center
        padding: 5px
    &-group
        display: flex
    &__policy
        width: 350px
        display: flex
        align-items: center
        margin-left: 30px
        
@media (max-width: 1199px)
    .offer
        &__block
            background-position: center right -120px
@media (max-width: 991px)
    .form-group
        flex-direction: column
    .form__policy
        margin: 30px 0 0
        width: 300px
    
@media (max-width: 768px)
    .offer
        &__block
            background: none
            background-color: #fff
            padding: 40px
    .form
        &__row
            flex-direction: column
            &-checkbox
                flex-direction: row
                flex-wrap: wrap
                .form__checkbox
                    margin: 5px
        &__group
            width: 100%
            flex-basis: 100%
            margin-bottom: 20px
            &:last-child
                margin-bottom: 0
        &__button
            width: 100%
        &__policy
            width: 100%
        
    

        
        
        
            



